<div class="container">
  <div class="row">
    <div class="col">
      <div *ngIf="crudItem"
           class="app-crud-item-update">
        <h2>Update CRUD item</h2>
        <div>
          <span>id: </span>{{crudItem.id}}
        </div>
        <div>
          <div>
            <span>title: </span>{{crudItem.title}}</div>
          <div>
            <label>title:
              <input [(ngModel)]="crudItem.title"
                     placeholder="title">
            </label>
          </div>
        </div>
        <button (click)="goBack()">go back</button>
        <button (click)="updateCrudItem()">update</button>
      </div>

    </div>
  </div>
</div>
