<h2>Registration</h2>
<form>
  <fieldset>
    <legend>Registration information</legend>
    <span>Email address</span><br>
    <input type="email"
           placeholder="Enter email"><br>
    <span><small>We'll never share your email with anyone else.</small></span>
    <br><br>
    <span>Password</span><br>
    <input type="password"
           placeholder="Password">
    <br><br>
    <span>Confirm password</span><br>
    <input type="password"
           placeholder="Confirm password">
    <br><br>
    <span><button>Registration</button> or navigate to <a routerLink="/home">home</a> or <a routerLink="/user/login">login</a>.</span>
  </fieldset>
</form>
