<div>
  <span>key: </span> <input type="text"><br><br>
  <span>type: </span> <input type="text"><br><br>
  <span>model: </span> <input type="text"><br><br>
</div>





<!-- <div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text"
             for="inputGroupSelect01">Key</label>
    </div>
    <select class="custom-select"
            id="inputGroupSelect01">
      <option value="String">String</option>
      <option value="Number">Number</option>
      <option value="Date">Date</option>
      <option value="Boolean">Boolean</option>
      <option value="Object">Object</option>
      <option value="Array">Array</option>
    </select>
  </div>


  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text"
             for="inputGroupSelect01">Type</label>
    </div>
    <select class="custom-select"
            id="inputGroupSelect01">
      <option value="String">String</option>
      <option value="Number">Number</option>
      <option value="Date">Date</option>
      <option value="Boolean">Boolean</option>
      <option value="Object">Object</option>
      <option value="Array">Array</option>
    </select>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text"
             for="inputGroupSelect01">Default</label>
    </div>
    <select class="custom-select"
            id="inputGroupSelect01">
      <option value="String">String</option>
      <option value="Number">Number</option>
      <option value="Date">Date</option>
      <option value="Boolean">Boolean</option>
      <option value="Object">Object</option>
      <option value="Array">Array</option>
    </select>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text"
             for="inputGroupSelect01">Required</label>
    </div>
    <select class="custom-select"
            id="inputGroupSelect01">
      <option value="String">String</option>
      <option value="Number">Number</option>
      <option value="Date">Date</option>
      <option value="Boolean">Boolean</option>
      <option value="Object">Object</option>
      <option value="Array">Array</option>
    </select>
  </div>
</div> -->
