<div class="container">
  <h2>Create CRUD model</h2>
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"
                id="basic-addon1">Name</span>
        </div>
        <input type="text"
               class="form-control"
               placeholder="Model name"
               aria-describedby="basic-addon1">
      </div>
      <app-crud-model-property></app-crud-model-property>
      <button class="btn">Add property</button>
      <button class="btn">Save model</button>
    </div>
    <div class="col"></div>
  </div>
</div>
