<a routerLink="/home">Home</a><br>
<p>CRUD</p>
<a routerLink="/crud/model/create">Create model</a><br>
<a routerLink="/crud/collection/create">Create collection</a><br>
<a routerLink="/crud/document/create">Create document</a><br>
<a routerLink="/crud/model/search">Search model</a><br>
<a routerLink="/crud/collection/search">Search collection</a><br>
<a routerLink="/crud/document/search">Search document</a><br>
<p>User</p>
<a routerLink="/user/registration">Registration</a><br>
<a routerLink="/user/login">Login</a><br>
<a routerLink="/user/profile">Profile</a><br>
<a routerLink="/user/logout">Logout</a><br>
<p>Lab</p>
<a routerLink="/lab/lab-random">Random</a><br>
<a routerLink="/lab/lab-random">File Upload</a><br>
<a routerLink="/lab/lab-random">Text Editor</a><br>
<a routerLink="/lab/lab-random">Canvas</a><br>
<a routerLink="/lab/lab-random">D3</a><br>
