<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a class="navbar-brand"
     routerLink="/home">Home</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"
       id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           id="navbarDropdownMenuLink"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          CRUD
        </a>
        <!-- <div class="dropdown-menu"
             aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item"
             routerLink="/crud-list">List</a>
          <a class="dropdown-item"
             routerLink="/crud-item-create">Create</a>
          <a class="dropdown-item"
             routerLink="/crud-item-search">Search</a>
        </div> -->
        <div class="dropdown-menu"
             aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item"
             routerLink="/crud/model/create">Create model</a>
          <a class="dropdown-item"
             routerLink="/crud/collection/create">Create collection</a>
          <a class="dropdown-item"
             routerLink="/crud/document/create">Create document</a>
          <a class="dropdown-item"
             routerLink="/crud/model/search">Search model</a>
          <a class="dropdown-item"
             routerLink="/crud/collection/search">Search collection</a>
          <a class="dropdown-item"
             routerLink="/crud/document/search">Search document</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           id="navbarDropdownMenuLink"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Lab
        </a>
        <div class="dropdown-menu"
             aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item"
             routerLink="/lab/lab-random">Random</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           id="navbarDropdownMenuLink"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu"
             aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item"
             routerLink="/user/registration">Registration</a>
          <a class="dropdown-item"
             routerLink="/user/login">Login</a>
          <a class="dropdown-item"
             routerLink="/user/profile">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"
             routerLink="/user/logout">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
