<h2>Login</h2>
<form>
  <fieldset>
    <legend>Login information</legend>
    <span>Email address</span><br>
    <input type="email"
           placeholder="Enter email"><br>
    <span><small>We'll never share your email with anyone else.</small></span>
    <br><br>
    <span>Password</span><br>
    <input type="password"
           placeholder="Password">
    <br><br>
    <span><button>Login</button> or navigate to <a routerLink="/home">home</a> or <a routerLink="/user/registration">registration</a>.</span>
  </fieldset>
</form>
