<div class="container">
  <h2>Create CRUD document</h2>
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text"
                 for="inputGroupSelect01">Model</label>
        </div>
        <select class="custom-select"
                id="inputGroupSelect01">
          <option value="String">String</option>
          <option value="Number">Number</option>
          <option value="Date">Date</option>
          <option value="Boolean">Boolean</option>
          <option value="Object">Object</option>
          <option value="Array">Array</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text"
                 for="inputGroupSelect02">Collection</label>
        </div>
        <select class="custom-select"
                id="inputGroupSelect02">
          <option value="String">String</option>
          <option value="Number">Number</option>
          <option value="Date">Date</option>
          <option value="Boolean">Boolean</option>
          <option value="Object">Object</option>
          <option value="Array">Array</option>
        </select>
      </div>
      <button class="btn">Save</button>
    </div>
    <div class="col"></div>
  </div>
</div>
