<h2>Create CRUD document</h2>
<label>Model</label>
<br>
<select>
  <option value="String">String</option>
  <option value="Number">Number</option>
  <option value="Date">Date</option>
  <option value="Boolean">Boolean</option>
  <option value="Object">Object</option>
  <option value="Array">Array</option>
</select>
<br>
<label>Collection</label>
<br>
<select>
  <option value="String">String</option>
  <option value="Number">Number</option>
  <option value="Date">Date</option>
  <option value="Boolean">Boolean</option>
  <option value="Object">Object</option>
  <option value="Array">Array</option>
</select>
<br>
<br>
<button>Create document</button>
