<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to Home</h1>
        <p class="lead">For being at home you don't need a registration or login. You can be yourself without any limits,
          you are totaly free. Enjoy it!
        </p>
        <hr class="my-4">
        <p>But if you want to get some additional power you can follow through one easy step and find some fun inside.</p>
        <a class="btn btn-primary btn-lg"
           routerLink="/user/registration"
           role="button">Registration</a>
        <a class="btn btn-primary btn-lg"
           routerLink="/user/login"
           role="button">Login</a>
      </div>
    </div>
  </div>
</div>
